<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav id="main-nav">
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/create">Tell Your Story</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/read">Read Anonymous Stories</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/view">View Story Data</a>
    </li>
  </ul>
</nav>

<div class="container" id="read-container">
  <div class="row" id="read-title-row">
    <div class="col-6">
      <div class="justify-content-center" >
        <img src="../assets/img/ucinonymous-logo.png" width="400px" />
      </div>
    </div>
    <div class="search-container col-5">
      <input [(ngModel)]="searchKey" type="text" placeholder="Search.." name="search" class="search-input">
    </div>
    <div class="col-1 search-button">
      <button type="submit" (click)="searchShares('/submissions')"><i class="fa fa-search"></i></button>
    </div>
  </div>

  <br/>
  <div *ngFor="let share of shares | async" class="row" id="read-card">
    <div *ngIf="share.year == '1st'" class="col-2 align-middle">
      <img src="../assets/img/UCIN-1st.png" height="125px"/>
      <h5>Student</h5>
    </div>
    <div *ngIf="share.year == '2nd'" class="col-2 align-middle">
      <img src="../assets/img/UCIN-2nd.png" height="125px"/>
      <h5>Student</h5>
    </div>
    <div *ngIf="share.year == '3rd'" class="col-2 align-middle">
      <img src="../assets/img/UCIN-3RD.png" height="125px"/>
      <h5>Student</h5>
    </div>
    <div *ngIf="share.year == '4TH'" class="col-2 align-middle">
      <img src="../assets/img/UCIN-4TH.png" height="125px"/>
      <h5>Student</h5>
    </div>
    <div *ngIf="share.year != '1st' && share.year != '2nd' && share.year != '3rd'" class="col-2 align-middle">
      <img src="../assets/img/UCIN-peter.png" height="125px"/>
      <h5>Not undergrad student</h5>
    </div>
    <div class="col-10">
      {{ share.submission }}
    </div>
  </div>

</div>
<!--<table class="table table-striped">-->
  <!--<tr>-->
    <!--<th>Student Year</th>-->
    <!--<th>Submission</th>-->
  <!--</tr>-->
  <!--<tr *ngFor="let share of shares | async">-->
    <!--<td>{{ share.year }}</td>-->
    <!--<td>{{ share.submission }}</td>-->
  <!--</tr>-->
<!--</table>-->
