<nav id="main-nav">
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/create">Tell Your Story</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/read">Read Anonymous Stories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/view">View Story Data</a>
    </li>
  </ul>
</nav>
<h2>
  Submission Results:
</h2>
<br><br>
<div class="results">
  <img src="/assets/img/test.png"><img> <img src="/assets/img/test.png"><img>
</div>
